text {
	display: block;
	width: 100%;
}

button {
	float: right;
}

.content {
	overflow: hidden;
}

#versus {
	display: inline-block;
	width: 30px;
}

#enemy-search-wrapper {
	margin-left: 10px;
	margin-top: -10px;
}

#textarea {
	width: 100%;
}