.loginPanel, .signupPanel, .guestPanel {
	margin: 50px 2% 0 2%;
	display: inline-block;
	width: 46%;
	vertical-align: top;
}

.loginPanel div.panel{
	height: 342px;
}

.auth-form-error .auth-form-error-message {
	margin-left: 15px;
}

.auth-form-error .fa-spinner{
	font-size: 1.7em;
}